* {
  box-sizing: border-box;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

body {
  font-size: 14px;
}

main {
  padding: 1rem;
}

/**
 * Prompt
 */
.prompt {
  display: flex;
  line-height: 1;
  font-size: 16px;
}
.prompt[hidden] {
  display: none;
}

.prompt input {
  position: relative;
  top: -2px;
  flex: 1;
  line-height: 1;
  font-size: 16px;
  padding: 0 0 0 10px;
  outline: 0;
  border: 0;
}

/**
 * Output
 */
.output h1,
.output h2,
.output h3,
.output h4,
.output h5,
.output h6 {
  font-size: inherit;
}

.output .entry {
  margin-bottom: 1rem;
}

.output .entry .entry-content {
  white-space: pre;
}

.output .info {
  white-space: normal;
  color: blue
}
.output .info::before {
  content: '· ';
}

.output .error {
  white-space: normal;
  color: red;
}
.output .error .error-header::before {
  content: '▸ ';
}
.output .error.open .error-header::before {
  content: '▾ ';
}
.output .error .error-stack {
  display: none;
  padding: 1rem;
  margin-bottom: 1rem;
  background: pink;
  font-size: 12px;
  white-space: pre;
  overflow-x: auto;
}
.output .error.open .error-stack {
  display: block;
}

.output .help-entry {
  display: flex;
}

.output .help-entry dt {
  font-weight: bold;
  width: 2rem;
}

.output .help-entry dd {
  flex: 1;
  text-overflow: ellipsis;
}

.output .prompt input {
  background-color: inherit;
  color: inherit;
}
